:root {
  --body: #000235;
  --linear-gradient-start: #ee9ae5;
  --linear-gradient-end: #5961f9;
  --rectangle-back: #d9d9d9;
}
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400&family=Roboto:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  /* Converting rem 1 = 10px*/
  font-size: 62.5%;
}
body {
  background-color: var(--body);
  display: flex;
  position: relative;
  color: white;
}

.hidden {
  display: none;
}

.main {
  margin: auto 10rem;
  align-content: center;
  justify-content: center;
  width: 120rem;
  margin: auto;
}
/*nav-container*/
.nav__container {
  display: flex;
  justify-content: space-between;
  font-family: "Outfit", sans-serif;
  color: azure;
  margin-top: 5rem;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 4rem;
  font-weight: 900;
}

.nav__items {
  list-style: none;
  display: flex;
  align-items: center;

  margin: 0 0rem;
}

.nav__item a {
  text-decoration: none;
  font-size: 2rem;
  margin: 0 2rem;
  color: white;
}

/*home-section-1*/

.home__container {
  font-family: "Roboto", sans-serif;
  
}

.title {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.home__1.section__1 {
  display: flex;
  height: 100rem;
}

.home__1--left {
  display: flex;
  align-items: left;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.title-content {
  min-width: 5rem;
  max-width: 45rem;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.home__1--right {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.icons {
  list-style: none;
  display: flex;
  margin-top: 10rem;
  justify-content: space-between;
  width: 18rem;
}

.icon > a > img {
  width: 4rem;
  margin: 2rem;
}

/*section--2-home*/

.home__2 {
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  height: 100rem;
  text-align: center;
}



.home__section--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 120rem;
  min-width: 120rem;
  height: 70%;
  border-radius: 25px;
  background-color: var(--rectangle-back);
  margin: 5rem 0;
  color: black;
}
.home__2--content {
  width: 100%;

  display: inherit;
  flex-direction: row;
}

.home__2--left {
  min-width: none;
  max-width: fit-content;
}

.home__2--right {
  margin: auto;
}
.skills__icons {

  list-style: none;
  padding: 2rem;
  list-style-type: none;
  margin-right: 2rem;
}
.skills__icon{
  display: inline-block;
  padding:1rem;
  margin: 2rem;


}
.skills__icon img {
  
  width: 5rem;
  margin: 1rem;
  cursor: pointer;
}

/*section--3-home*/

.home__3 {
  position: relative;
  display: flex;
  height: 100rem;
  
}

.home__3--container{
  
  margin: auto;
  text-align: center;
  font-size: 2rem;
  
}

.home__3--left > ul > li > img {
  width: 5rem;
}

.project__icons{
  list-style-type: none;
  width: 50%;
  padding: 3rem;
}
.project--icon{
  display: inline-block;
}
.home__3--content{
  display:flex;
  
}
.home__3--right{
  width: 50%;
  
  
}
.home__3--left{
  width: 50%;
  height: 100%;
  
}

.sections--title{
  font-size: 4rem;
  text-transform: uppercase;
  display:block
}

/*footer*/

footer{
  margin-top: 20rem;
  margin-bottom: 10rem;
}

footer> span{
  font-family: 'Roboto';
  display:flex;
  font-size: 2rem;
  justify-content: center
  ;
}

/* home elements styling*/

.circle{
  position:absolute;
  border-radius: 50%;
  background: linear-gradient(to top left, var(--linear-gradient-end), var(--linear-gradient-start));

  z-index: -1;
}
/*circle top*/
.circle--top{
  width: 55rem;
  height: 55rem;
  left: -40rem;
  top: -20rem;
}


.circle--top-1{
  width: 30rem;
  height: 30rem;
  left: 0rem;
  top: -10rem;
  
}
/*circle btn*/

.circle--btm{
  width:55rem;
  height: 55rem;
  right: -30rem;
  bottom: -5rem;
}
.circle--btm-1{
  width: 30rem;
  height: 30rem;
  right: 20rem;
  bottom: 10rem;
  z-index: -2;
}

/*rectangle*/

.rectangle{
  position: absolute;
  width: 44.3rem;
  height: 32.7rem;
  background-color: var(--rectangle-back);
  opacity: .5;
  border-radius: 25px;

}

.rectangle--top{
  left: -20rem;

}

.rectangle--btm{
  bottom: 0rem;
  right: -20rem;
}

/*----------------------Projects---------------------*/
.project__container{
  font-family: 'Roboto',sans-serif;
  
}
.project__1{
  display: flex;
  height: 100rem;
  min-width: 120rem;
  /*todo-section margin*/
  margin: 30rem 0;
  justify-content: center;
  text-align: center;
}

.project__1--bottom{
  margin: 2rem;
  display: flex;
  font-size: 2rem;
  text-align: left;
  

}

.project__1--left{
  display: inherit;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.project__1--left> p{
  line-height: 3.5rem;
}